<p id="notice"><%= notice %></p>

<h1 align="center">Events</h1>
<div class="container" id="EventContainer">
  <% @events.each do |event| %>
    <%= render partial: 'event_row', locals: {event: event} %>
  <% end %>
</div>

<script>
 App.subscribeEventNotifications()
</script>
